.home-page {
    width: 1200px;
    margin: 0 auto;
    margin-top: 110px;
}

.products {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px 30px;
}

.product {
    width: 350px;
    height: 460px;
    background-color: white;
    box-shadow: 0px 5px 10px rgb(216, 215, 214);
    padding: 0 10px;
}

.img-box {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.img-box>img {
    width: 100px;
    height: 150px;
}

.title-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.description {
    text-align: center;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.plus-and-minus {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product>* {
    margin: 10px 0;
}

.search-panel {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 0;
    column-gap: 30px;
}

.form {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
}

input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 200px;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(rgb(91, 64, 116), rgb(91, 64, 116));
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: white;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.value {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.text-field__input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #fff;
    padding: 0 30px;
    border-radius: 50px;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(91, 64, 116);
    background-color: #fff;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
    transition: box-shadow 0.2s;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn:hover {
    transition: all 0.2s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}

.t-p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;   
}

.description{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400; 
    font-size: 15px;
}

.button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(91, 64, 116);
    cursor: pointer;
}

.not-found1{
    margin-top: 250px;
}

.not-found2{
    margin-top: 80px;
}