.container {
    margin: 0 auto;
    padding-bottom: 50px;
    width: 1200px;
}

.not-found {
    margin-top: 200px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: rgb(91, 64, 116);
    cursor: none;
    text-align: center;
}